<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @donor.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @donor.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @donor.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @donor.phone %>
</p>

<%= link_to 'Edit', edit_donor_path(@donor) %> |
<%= link_to 'Back', donors_path %>
