<h1>Products Items</h1>
<tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.color %></td>
        <td><%= product.size %></td>
        <td><%= product.quantity %></td>
        <td><%= product.instock %></td>
      </tr>
    <% end %>
  </tbody>
