<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @product.id %>
</p>

<p>
  <strong>Color:</strong>
  <%= @product.color %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product.size %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Instock:</strong>
  <%= @product.instock %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', root_path %>

<div>
<img src="https://lh5.googleusercontent.com/20maeX5864lMujeX9Eqg9b_xt-LmAjxK9FOksxzFj-Vb2JufCuTAp0fnANRphdV-QzNiKfhilf579TxuHr_z=w2560-h1334" />
</div>
